@import "/home/deces/.config/waybar/color.css";

/* Genel Ayarlar ve Font */
* {
    font-family:
        "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Symbols Nerd Font",
        sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    min-height: 0;
}

/* bar */
window#waybar {
    background-color: #000000;
    color: #ffffff;
}

/* spacing */
#custom-bluetooth,
#cpu,
#memory,
#custom-power-mode,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 4px 0px 4px 2px;
    background-color: #1a1a1a;
    color: #ffffff;
    border: 1px solid #333333;
}

#custom-power-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

#network {
    background-color: #1a1a1a;
}

#pulseaudio {
    background-color: #1a1a1a;
}

#workspaces {
    margin: 4px 0px;
}

/* workspace buttons */
#workspaces button {
    padding: 0 4px;
    background-color: #111111;
    color: #1a1a1a;
    border-right: 1px solid #222222;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: #1a1a1a;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #222222;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #000000;
    animation: blink 0.5s alternate infinite;
}

/* clock */
#clock {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 0 16px;
    margin: 4px 0px;
}
